.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
}

.banner p {
  color: orangered;
  font-size: 20px;
  margin-bottom: 32px;
}

.banner h1 {
  margin-bottom: 32px;
  margin: 0px;
}
